.nopadding {
	padding: 0px !important;
}
.e-book {
	border: 1px solid #d1d1d1;
	padding: 20px 0px !important;
}
.e-book img{
	display: block;
	margin: 0 auto;
}
.e-book .description {
	text-align: center;
	margin: 20px 0;
}
.description .max-desc {
	height: 157.5px;
	overflow: hidden;
}
.card .card-content .button a {
	margin: 0 auto;
	width: 100%;
}

.card .card-reveal {
    padding: 20px;
}
.card .card-title {
    font-size: 20px;
}
.card .card-reveal p {
	font-size: 12px;
}
.card .card-image img {
	margin: 0 auto;
	max-width: 100%;
}

.review {
	border: 1px solid #d1d1d1;
	padding: 10px 30px;
	margin-bottom: 15px;
}
.review .author {
	font-size: 13px;
	color: #898989;
}
.review .author i {
	font-size: 18px;
}
.review .date {
	font-size: 13px;
	color: #898989;
}
.review p {
	font-size: 13px;
}
.add-review {
	
}