<div class="col s9">
	<h5 class="indigo-text">Zarejestruj się</h5>
	  
	 <div class="row">
    <form class="col s12" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" class="validate" type="text" name="username"
            required
            [(ngModel)]="user.username">
          <label for="username">Nazwa użytkownika</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" class="validate" type="text" name="first_name"
            [(ngModel)]="user.first_name">
          <label for="first_name" class="">Imię</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" class="validate" type="text" name="last_name"
            [(ngModel)]="user.last_name">
          <label for="last_name" class="">Nazwisko</label>
        </div>
      </div>
		<div class="row">
        <div class="input-field col s12">
          <input id="email" class="validate" type="email" name="email"
            [(ngModel)]="user.email">
          <label for="email" class="">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" class="validate" type="password" name="password"
            required
            [(ngModel)]="user.password">
          <label for="password" class="">Hasło</label>
        </div>
      </div>
		<button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect indigo">Zarejestruj</button>
    </form>
  </div>
	
</div>
